<!-- Header Section -->

<div class="hp_banner">
	<img src="https://cdn.shopify.com/s/files/1/2130/4789/files/banner.jpg?1327362145010772303" alt="" class="hp_banner_img">
	<p class="hp_banner_txt">Are You Ready To Be a Mom?<br>Get a Clear Picture of Your Fertility<br>Get Premom.</p>
	<div class="hp_download_btns">
		<button class="ban-adb ban-as">
			<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/app_store_icon_compact.png?v=1485893167" />
		</button>
		<button class="ban-adb ban-gp">
			<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/play_store_icon_compact.png?v=1485893172" />
		</button>
	</div>
	<div class="hp_vid_con">
		<div class="iframe_con">
			<iframe class="hp_vid_yt vid_pos" src="https://www.youtube.com/embed/UYXhzTGJ1aU" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<!-- End Section -->

<!-- Icon & Phone Section -->
<div class="icfe_tit_con">
	<h3 class="icfe_tit">All Your Fertility Information in One Place</h3>
	<div class="tit_rect"></div>
</div>
<div class="icfe_con">
	<div class="icon_col iorh_col">
		<div class="icon_con" id="hm_opk_icon">
			<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/icon_3-01.png?11281970232006357038" alt="" class="hm_icon" id="opk_hm_img">
			<p class="icon_sub" id="opk_sub">Keeping your used test strips? Throw them away!</p>
			<p class="icon_des" id="opk_des">Premom’s Fertility test gallery automatically lines up your saved test images chronologically, letting you see changes in your hormone levels.</p>
		</div>
		<div class="icon_con" id="hm_thm_icon">
			<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/icon_2-01.png?11281970232006357038" alt="" class="hm_icon" id="thm_hm_img">
			<p class="icon_sub" id="thm_sub">No more getting up early to record and chart your BBT!</p>
			<p class="icon_des" id="thm_des">Wake up, put our Bluetooth thermometer in your mouth, and go back to sleep. Premom charts and analyzes your BBT for you.</p>
		</div>
		<div class="icon_con" id="hm_cal_icon">
			<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/icon_1-01.png?11281970232006357038" alt="" class="hm_icon" id="cal_hm_img">
			<p class="icon_sub" id="cal_sub">Hassle free fertility calendar editing!</p>
			<p class="icon_des" id="cal_des">The calendar provides you with powerful information about your period, ovulation day, LH surges, BBT spikes, PDG spikes, and fertile window.</p>
		</div>
	</div>
	<div class="hm_phn_col iorh_col">
		<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/05.png?16605291185573946273" alt="" class="hm_phn_img">
	</div>
</div>

<!-- End Section -->

<!-- Tilt Section -->
<div class="tilt_con" id="opk_tilt_con">
	<div class="tilt_pic" id="opk_tilt_pic">
		<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/ovu_site.png?16605291185573946273" alt="" class="tilt_img" id="opk_tilt_img">
	</div>
	<div class="tilt_text" id="opk_tilt_text">
			<p class="tilt_p"><span class="tilt_arrow arrow_left"></span>Digital Ovulation Test Strip Gallery</p>
	</div>
</div>
<div class="tilt_con" id="thm_tilt_con">
	<div class="tilt_text" id="thm_tilt_text">
			<p class="tilt_p">BBT Charting Done in 90 Seconds<span class="tilt_arrow arrow_right"></span></p>
	</div>
	<div class="tilt_pic" id="thm_tilt_pic">
		<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/thm_site.png?16605291185573946273" alt="" class="tilt_img" id="thm_tilt_img">
	</div>
</div>
<div class="tilt_con" id="cal_tilt_con">
	<div class="tilt_pic" id="cal_tilt_pic">
		<img src="https://cdn.shopify.com/s/files/1/0579/9417/files/cal_site.png?16605291185573946273" alt="" class="tilt_img" id="cal_tilt_img">
	</div>
	<div class="tilt_text" id="cal_tilt_text">
			<p class="tilt_p"><span class="tilt_arrow arrow_left"></span>Hassle-Free Calendar Editing</p>
	</div>
</div>

<!-- End Section -->

<!-- Bottom Download Buttons -->